<footer id="footer">
    <div class="container" style="margin-bottom: 20px">

        <div class="row">

            <div class="col-md-3">
                <!-- Footer Logo -->
                <img class="footer-logo" src="{{ page.baseurl }}assets/images/logo-footer.png" alt="" />
                

                <!-- Contact Address -->
                <address>
                    <ul class="list-unstyled">
                        <li class="footer-sprite address">
                            MMWC Office<br>
                            5235 S. 27th St.<br>
                            Greenfield, WI 53221<br>
                        </li>
                        <li class="footer-sprite phone">
                            Phone: 1-414-727-4900
                        </li>
                        <li class="footer-sprite email">
                            <a href="mailto:staff@mmwconline.org">staff@mmwconline.org</a>
                        </li>
                    </ul>
                </address>
                <!-- /Contact Address -->

            </div>


            <div class="col-md-offset-1 col-md-4">

                <!-- Links -->
                <h4 class="letter-spacing-1">RELATED LINKS</h4>
                <ul class="footer-links list-unstyled">
                    <li><a href="#">MedPoint Clinic</a></li>
                    <li><a href="#">Islamic Society of Milwaukee</a></li>
                    <li><a href="#">Islamic Da'wa Center</a></li>
                    <li><a href="#">Masjid Al-Huda</a></li>
                    <li><a href="#">Masjid Al-Qur'an</a></li>

                    <li><a href="#">MCHC</a></li>

                </ul>
                <!-- /Links -->

            </div>

            <div class="col-md-4">

                <!-- Newsletter Form -->
                <h4 class="letter-spacing-1">KEEP IN TOUCH</h4>
                <p>Subscribe to Our Newsletter to get Important News & Offers</p>

                <form id="subscribeForm" role="form" method="post" name="mc-embedded-subscribe-form"
                      action="http://mmwconline.us3.list-manage.com/subscribe/post?u=63d144864f5fd557a761d89cb&amp;id=792c8836f1">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="email" id="subscriberEmail" name="EMAIL" class="form-control"
                               placeholder="Enter your Email" required="required">
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_63d144864f5fd557a761d89cb_792c8836f1" tabindex="-1" value="">
                        </div>
                        <span class="input-group-btn">
							<button class="btn btn-primary" type="submit" name="subscribe" id="subscribeButton">
                                Subscribe
                            </button>
						</span>

                    </div>
                </form>

                <!-- Social Icons -->
                <div class="margin-top-20">

                    <a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
                        <i class="icon-linkedin"></i>
                        <i class="icon-linkedin"></i>
                    </a>

                    <a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="Rss">
                        <i class="icon-rss"></i>
                        <i class="icon-rss"></i>
                    </a>

                </div>
                <!-- /Social Icons -->

            </div>

        </div>

    </div>

    <div class="copyright">
        <div class="container">
            <ul class="pull-right nomargin list-inline mobile-block">
                <li><a href="#">Terms & Conditions</a></li>
                <li>&bull;</li>
                <li><a href="#">Privacy</a></li>
            </ul>
            Copyright &copy; 2016. MMWC. All Rights Reserved.
        </div>
    </div>
</footer>