<div id="header" class="sticky transparent clearfix">

    <!-- TOP NAV -->
    <header id="topNav">
        <!--full-container class for full page rev slider with dark bg-->
        <div class="container">

            {% include headers/parts/buttons.html %}

            <!-- Logo -->
            <a class="logo pull-left" href="/">
                <img src="{{ page.baseurl }}assets/images/logo-light.png" alt="" />
                <img src="{{ page.baseurl }}assets/images/logo.png" alt="" />
            </a>
            <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
                {% include headers/parts/nav.html %}
            </div>

        </div>
    </header>
    <!-- /Top Nav -->

</div>
