<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<!-- JAVASCRIPT FILES -->
<script type="text/javascript">var plugin_path = '{{ page.baseurl }}assets/plugins/';</script>
<script type="text/javascript" src="{{ page.baseurl }}assets/plugins/jquery/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="{{ page.baseurl }}assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{{ page.baseurl }}assets/js/scripts.js"></script>
{% if page.scripts %}{% include {{ page.scripts }} %}{% endif %}

<script type="text/javascript">
    var _mfq = _mfq || [];
    (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/23620135-6f57-4655-92ff-69535fd68d19.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
    })();
</script>