.toggle-on.btn {
  padding-right: 24px;
  padding-top: 5px;
  align-items: stretch;
  display: block;
}
.toggle-off.btn {
  padding-right: 24px;
  padding-top: 4px;
  align-items: stretch;
  display: block;
}
.datepicker-inline {
  width: 220px;
  margin: auto;
}

.event-toggle {
  margin-top: -15px;
}
.event-toggle-title {
  color: #777;
}
#datepicker {
  margin: auto;
}

#preloader {
  position: absolute;
  z-index: 100;
  top: 0; bottom: 0;
  right: 0; left: 0;

  background: #fff;
}

.inner {
  position: absolute;
  top: 0; bottom: 0;
  right: 0; left: 0;

  width: 54px;
  height: 54px;
  margin: 0 auto;
}