span.bubbleHeader {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -14px;
  background-color: #C02942;
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 800;
  color: #ffffff;
  padding: 6px
}

@media only screen and (max-width: 991px) {
  span.bubbleHeader {
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  span.bubbleHeader {
    font-size: 8px;
  }
}