<!-- Mobile Menu Button -->
<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
    <i class="fa fa-bars"></i>
</button>

<!-- BUTTONS -->
<ul class="pull-right nav nav-pills nav-second-main">

    <!-- SEARCH -->
    <li class="search">
        <a href="javascript:;">
            <i class="fa fa-search"></i>
        </a>
        <div class="search-box">
            <form action="{{ page.baseurl }}search.html" method="get">
                <div class="input-group">
                    <input type="text" name="q" placeholder="Search" class="form-control" />
                    <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit">Search</button>
                                            </span>
                </div>
            </form>
        </div>
    </li>
    <!-- /SEARCH -->
</ul>
<!-- /BUTTONS -->