<nav class="nav-main">

    <!--
        NOTE

        For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
        Direct Link Example:

        <li>
            <a href="#">HOME</a>
        </li>
    -->
    <ul id="topMain" class="nav nav-pills nav-main">
        <li class="dropdown active"><!-- ABOUT -->
            <a class="dropdown-toggle" href="#">
                ABOUT
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">WHO WE ARE</a></li>
                <li><a href="{{ page.baseurl }}team/">TEAM</a></li>
                <li><a href="{{ page.baseurl }}history/">HISTORY</a></li>
                <li><a href="{{ page.baseurl }}resources/">RESOURCES</a></li>
            </ul>
        </li>
        <li class="dropdown"><!-- IRC LIBRARY -->
            <a class="dropdown-toggle" href="#">
                IRC LIBRARY
            </a>
            <ul class="dropdown-menu">
                <li><a target="_blank"
                       href="http://opac.libraryworld.com/opac/signin?libraryname=ISLAMIC%20RESOURCE%20CENTER">
                    CATALOG
                </a></li>
                <li><a href="{{ page.baseurl }}policies/">POLICIES</a></li>
            </ul>
        </li>
        <li class="dropdown "><!-- SERVICES -->
            <a class="dropdown-toggle" href="#">
                SERVICES
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">EVENTS</a></li>
                <li><a href="#">SPEAKER REQUEST</a></li>
            </ul>
        </li>
        <li><!-- BLOG -->
            <a href="{{ page.baseurl }}blog/">BLOG</a>
        </li>
        <li><!-- DONATE -->
            <a href="{{ page.baseurl }}donate/">DONATE</a>
        </li>
        <li><!-- CONTACT -->
            <a href="{{ page.baseurl }}contact/">CONTACT</a>
        </li>
    </ul>

</nav>