---
hasFullDarkRevSlider: true
baseurl: ./
---
<!-- REVOLUTION SLIDER -->
<section id="slider" class="slider fullwidthbanner-container roundedcorners">
    <div class="fullscreenbanner">
        <ul class="hide">
            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"
                data-title="Slide title 1" data-thumb="assets/images/cover.jpg">

                <img src="assets/images/1x1.png" data-lazyload="assets/images/cover.jpg" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />

                <div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>

                <div class="tp-caption large_bold_white skewfromrightshort customout"
                     data-x="center"
                     data-y="228"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="800"
                     data-easing="Back.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     style="z-index: 2">Milwaukee Muslim Women's Coalition
                </div>
                <div class="tp-caption medium_light_white customin customout"
                     data-x="center"
                     data-y="center" data-voffset="-019"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1000"
                     data-start="1100"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 8;">
                    <span class="rev-slider-zoom-p">One of the most recognizable outreach organizations in Wisconsin</span>
                    <!--<span class="btn-red" style="padding: 6px; font-weight: 800; font-family: 'Open Sans';">Wisconsin</span>-->
                </div>

                <div class="tp-caption customin ltl hidden-xs"
                     data-x="center"
                     data-y="400"
                     data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="800"
                     data-start="2500"
                     data-easing="easeOutQuad"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn" style="z-index: 3;">

                    <form method="post" class="row margin-top-80 landing-form subscribeForm" style="width: 630px"
                          action="http://mmwconline.us3.list-manage.com/subscribe/post?u=63d144864f5fd557a761d89cb&amp;id=792c8836f1">

                        <div class="col-sm-7">
                            <input type="email" class="form-control input-lg subscriberEmail" value="" name="EMAIL"
                                   placeholder="Enter your Email" required="required" />
                        </div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_63d144864f5fd557a761d89cb_792c8836f1" tabindex="-1" value=""/>
                        </div>
                        <div class="col-sm-5">
                            <button class="btn btn-3d btn-block btn-red subscribeButton" type="submit" name="subscribe">
                                <i class="fa fa-envelope"></i>SUBSCRIBE
                            </button>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- /REVOLUTION SLIDER -->

<!-- Welcome -->
<section class="padding-bottom-60" id="welcomeSection">
    <div class="container">

        <div class="row">

            <div class="col-sm-7 hidden-xs">
                <img class="img-responsive" src="assets/images/front-desk.jpg" alt="" />
            </div>

            <div class="col-sm-5">
                <h2 class="weight-300">Welcome to <span>MMWC</span></h2>

                <p>
                    Our mission is to empower Muslim women by providing them with the skills and training necessary for self advocacy, leadership and economic security.
                    To advocate for Islam and Muslims by promoting an accurate understanding of the faith, to encourage dialogue amongst all people, to protect civil liberties and to build relationships and coalitions that work for justice, harmony, peace and understanding.
                </p>

                <hr />
                <h4 class="weight-300">We believe ...</h4>
                <ul class="list-unstyled list-icons">
                    <li><i class="fa fa-check"></i> In upholding the dignity of every human being</li>
                    <li><i class="fa fa-check"></i> Diversity in race and ideology is a source of strength for our Country</li>
                    <li><i class="fa fa-check"></i> Civil rights of all Americans must be protected regardless of faith</li>
                    <li><i class="fa fa-check"></i> Building relations and establishing dialogue with individuals and institutions that advocate for justice and human rights</li>
                    <li><i class="fa fa-check"></i> Most prejudice and hatred is a result of ignorance</li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- /Welcome -->

<!--UPCOMING EVENTS-->
<div id="event-app"></div>

<!-- PROGRAMS -->
<section id="programsSection" class="padding-xs">
    <div class="container">

        <header class="text-center margin-bottom-60">
            <h2><a href="{{ page.baseurl}}events/">Our Programs</a></h2>
            <p class="lead font-lato">Join us at any of our events and be a part of MMWC</p>
            <hr />
        </header>

        <div class="row">

            <div class="col-sm-6 col-md-3">

                <div class="box-icon box-icon box-icon-center box-icon-transparent box-icon-large">
                    <div class="box-icon-title">
                        <i class="noborder fa fa-cutlery" style="background-color:#FF5722; color:#fff;"></i>
                        <h2>"So How's It Going?" Dinner</h2>
                        <p class="box-icon-more font-lato">Monthly, 3rd Wednesday @ 6:30pm</p>
                    </div>
                    <p>
                        Join the MMWC for a potluck event that presents an opportunity for Muslim reverts to have an open
                        discussion.
                    </p>
                </div>

            </div>

            <div class="col-sm-6 col-md-3">

                <div class="box-icon box-icon box-icon-center box-icon-transparent box-icon-large">
                    <div class="box-icon-title">
                        <i class="noborder fa fa-film" style="background-color:#E91E63; color:#fff;"></i>
                        <h2>Children's Movie Night</h2>
                        <p class="box-icon-more font-lato weight-300">Monthly, 3rd Friday @ 6pm</p>
                    </div>
                    <p>
                        A family friendly movie night at the Islamic Resource Center taking place on our big
                        screen!
                    </p>
                </div>

            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-sm-6 col-md-3">

                <div class="box-icon box-icon-35margin box-icon-center box-icon-transparent box-icon-large">
                    <div class="box-icon-title">
                        <i class="noborder fa fa-book" style="background-color:#2196F3; color:#fff;"></i>
                        <h2>IRC Book Club</h2>
                        <p class="box-icon-more font-lato weight-300">Monthly, 2nd Monday @ 7pm</p>
                    </div>
                    <p>
                        Join the IRC Book Club for a stimulating discussion on books chosen by the group.
                    </p>
                </div>

            </div>

            <div class="col-sm-6 col-md-3">

                <div class="box-icon box-icon-35margin box-icon-center box-icon-transparent box-icon-large">
                    <div class="box-icon-title">
                        <i class="noborder fa fa-snapchat-ghost" style="background-color:#3F51B5; color:#fff;"></i>
                        <h2>Networking Brunch</h2>
                        <p class="box-icon-more font-lato weight-300">Monthly, last Friday @ 10am</p>
                    </div>
                    <p>
                        Join the MMWC for brunch, networking and interesting speakers on a variety of topics.
                    </p>

                </div>

            </div>
            <div class="clearfix hidden-xs"></div>
            <div class="col-sm-6 col-md-3">

                <div class="box-icon box-icon box-icon-center box-icon-transparent box-icon-large">
                    <div class="box-icon-title">
                        <i class="noborder fa fa-language" style="background-color:#009688; color:#fff;"></i>
                        <h2>Beginner Arabic</h2>
                        <p class="box-icon-more font-lato weight-300">Weekly, Sunday @ 10am</p>
                    </div>
                    <p>
                        During this 13 week program, students work together in an engaging environment so they
                        are able to communicate effectively in Arabic.
                    </p>
                    <div id="test"></div>
                </div>

            </div>

            <div class="col-sm-6 col-md-3">

                <div class="box-icon box-icon box-icon-center box-icon-transparent box-icon-large">
                    <div class="box-icon-title">
                        <i class="noborder fa fa-language" style="background-color:#9C27B0; color:#fff;"></i>
                        <h2>Intermediate Arabic</h2>
                        <p class="box-icon-more font-lato weight-300">Weekly, Sunday @ 1:30pm</p>
                    </div>
                    <p>
                        Intermediate level students continue to further develop literacy and fluency in an engaging and
                        student-centered environment.
                    </p>
                </div>

            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-sm-6 col-md-3">

                <div class="box-icon box-icon box-icon-center box-icon-transparent box-icon-large">
                    <div class="box-icon-title">
                        <i class="noborder fa fa-female" style="background-color:#4CAF50; color:#fff;"></i>
                        <h2>Women's Tafsir</h2>
                        <p class="box-icon-more font-lato weight-300">Weekly, Tuesday @ 1pm</p>
                    </div>
                    <p>
                        An in-depth look at the ayahs within the Qur'an, with special emphasis given to the historical
                        and contemporary meanings. Held in Arabic.
                    </p>
                </div>

            </div>

            <div class="col-sm-6 col-md-3">

                <div class="box-icon box-icon box-icon-center box-icon-transparent box-icon-large">
                    <div class="box-icon-title">
                        <i class="noborder fa fa-male" style="background-color:#673AB7; color:#fff;"></i>
                        <h2>Men's Tafsir</h2>
                        <p class="box-icon-more font-lato weight-300">Weekly, Tuesday @ 7pm</p>
                    </div>
                    <p>
                        An in-depth look at the ayahs within the Qur'an, with special emphasis given to the historical,
                        spiritual and contemporary meanings.
                    </p>
                </div>

            </div>

            <div class="clearfix visible-sm"></div>
        </div>

    </div>
</section>
<!-- /PROGRAMS -->

<!-- PARALLAX -->
<section class="parallax" style="background-image: url('assets/images/film-festival.jpg');">
    <!--<div class="overlay dark-8">&lt;!&ndash; dark overlay [1 to 9 opacity] &ndash;&gt;</div>-->

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3 class="nomargin size-40">Milwaukee Muslim Film Festival</h3>
                <p class="lead">
                    MMWC is the founder of the Milwaukee Muslim Film Festival, one of only a few city-wide Muslim Film
                    Festivals in the country.
                </p>
                <p>
                    The Milwaukee Muslim Film Festival is committed to discovering and sharing some of the most
                    exciting and <strong>thought provoking</strong> films from around the world. Their aim is to
                    use film as a means
                    for presenting topics and issues that are timely, relevant and generate meaningful discussion
                    about Muslims and the Muslim world.
                </p>
                <p><small><em>
                    Their dedicated team carefully selects films from across the globe that transcend countries,
                    languages and cultures while highlighting the common humanity among people of all races,
                    ethnicities and religious beliefs.

                </em></small></p>
                <a class="btn btn-primary btn-lg" href="http://mmfilmfest.com/" target="_blank">Tell Me More</a>
            </div>

            <div class="col-md-5 hidden-xs">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/L0qAUlS6_M0?wmode=transparent"></iframe>
            </div>
        </div>
    </div>

</section>
<!-- /PARALLAX -->

{% assign post = site.posts | first %}
{% if post.img %}
{% assign img = post.img %}
{% assign imgCreditLink = post.imgCreditLink %}
{% assign imgCredit = post.imgCredit %}
{% else %}
{% assign img = 'assets/images/blog/welcome-thumbnail.jpg' %}
{% endif %}
<!-- BLOG -->
<section class="padding-xs" style="border-bottom: 0; padding-bottom: 0">
    <div class="container">
        <!--<h2>Our Blog <span class="size-18">/ follow us!</span></h2>-->
        <header class="text-center margin-bottom-60">
            <h2><a href="{{ page.baseurl }}blog/">Our Blog</a></h2>
            <p class="lead font-lato">Follow us and stay up-to-date on our progress</p>
            <hr />
        </header>
        <div id="recentPost" class="blog-post-item" style="margin-bottom: 0">

            <div class="blog-item-small-image hidden-xs">
                <figure class="margin-bottom-20 blog-pic">

                    <img class="img-responsive" src="{{ page.baseurl }}{{ img }}" alt="img" />
                    {% if imgCredit %}
                    <figcaption>
                        <a href="{{ imgCreditLink }}" target="_blank">{{ imgCredit }}</a>
                    </figcaption>
                    {% endif %}
                </figure>
            </div>

            <div class="blog-item-small-content">

                <h2><a href="{{ post.url | prepend: page.baseurl | replace: '//', '/' }}">{{ post.blogTitle }}</a></h2>

                <ul class="blog-post-info list-inline">
                    <li>
                        <i class="fa fa-clock-o"></i>
                        <span class="font-lato">{{ post.date | date: "%B %d, %Y" }}</span>
                    </li>
                    <li>
                        <i class="fa fa-folder-open-o"></i>
                        <span class="font-lato">{{ post.blogCategory }}</span>
                    </li>
                    <li>
                        <i class="fa fa-user"></i>
                        <span class="font-lato">{{ post.postedBy }}</span>
                    </li>
                </ul>

                <p>{{ post.excerpt }}</p>

                <a href="{{ post.url | prepend: page.baseurl | replace: '//', '/' }}" class="btn btn-reveal btn-default">
                    <i class="fa fa-plus"></i>
                    <span>Read More</span>
                </a>
            </div>

        </div>
    </div>
</section>

<!-- Gallery -->
<section>
    <div class="container">

        <div class="row">
            <!-- LEFT -->
            <div class="col-sm-4">

                <h2>MMWC Gallery</h2>

                <p>
                    As much as we would like, we understand that not everyone can be physically present at our
                    landmark events. Here are pictures that capture some of those moments.
                </p>

                <a href="https://www.facebook.com/pg/mkemwc/photos/" target="_blank" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> View More Images
                </a>
            </div>
            <!-- RIGHT -->
            <div class="col-sm-8">

                <div class="masonry-gallery columns-3 clearfix lightbox" data-img-big="2" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

                    <a class="image-hover" href="assets/images/gallery/1.jpg">
                        <img src="assets/images/gallery/1.jpg" alt="...">
                    </a>

                    <a class="image-hover" href="assets/images/gallery/4.jpg">
                        <img src="assets/images/gallery/4.jpg" alt="...">
                    </a>

                    <a class="image-hover" href="assets/images/gallery/2.jpg">
                        <img src="assets/images/gallery/2.jpg" alt="...">
                    </a>

                    <a class="image-hover" href="assets/images/gallery/3.jpg">
                        <img src="assets/images/gallery/3.jpg" alt="...">
                    </a>

                    <a class="image-hover" href="assets/images/gallery/6.jpg">
                        <img src="assets/images/gallery/6.jpg" alt="...">
                    </a>

                    <a class="image-hover" href="assets/images/gallery/5.jpg">
                        <img src="assets/images/gallery/5.jpg" alt="...">
                    </a>
                </div>

            </div>
        </div>

    </div>
</section>