<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
{% include head.html %}
<body class="enable-animation">
{% include slide-top.html %}
<div id="wrapper">
    {% if page.isMainPage %}
        {% include main-page-header.html %}
    {% else %}
        {% include header.html %}
    {% endif %}

    {{ content }}
    {% include footer.html %}
</div>
{% include scripts.html %}
</body>
</html>